html {
  font-size: 100px;
}

body {
  font-size: 15px;
  background: #4e5864;
  position:relative;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 29.62963px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 33.33333px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 34.72222px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 35.55556px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 38.14815px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 55.55556px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 71.11111px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 74.07407px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 118.51852px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 133.33333px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 148.14815px;
  }
}
*{
	margin:0;
	padding:0;
	list-style: none;
	font-family: "微软雅黑";
}
.header{
	width:100%;
	height:2rem;
}
#xia{
	display: bloack;
	font-size:20px;
	color:#929aa0;
	line-height: 2rem;
	float:left;
	width:11.11%;
	height:100%;
	text-align: center;
}
#tou{
	width:70.37%;
	height:100%;
	float:left;
}
#tou h2{
	color:#FFF;
	font-weight:550;
	margin-top:0.5rem;
	margin-bottom:0.1rem;
	font-size:22px;
}
.yancahng{
	width:100%;
}
.song p:nth-child(1){
	color:#FFF;
	padding-top:8px;
	font-size:20px;
}
.song p:nth-child(2){
	color:#929aa0;
	padding-top:8px;
	font-size:15px;
}
.yanchang p,span{
	float:left;
	color:#929aa0;
	font-size:14px;	
}
#sg{
	margin-left:15px;
	margin-right:15px;
}
.yanchang p span{
	margin-top:0.12rem;
	margin-right:10px;
}
.xin{
	width:18.52%;
	height:100%;
	float:right;
}
.xin span{
	margin:0.55rem;
	width:0.9rem;
	height:0.9rem;
	line-height: 0.9rem;
	text-align: center;
	border:1px solid #929aa0;
	border-radius: 50%;
	font-size:18px;
	color:red;
}
/*音量*/
#yl{
	width:87.22%;
	height:1.31rem;
	margin:0 auto;
	border-bottom:1px solid #929aa0;
	position: relative;
}
.ylt{
	width:6rem;
	height:0.4rem;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	left:1.8rem;
	top:0.45rem;
	
}
.ylt .yldx{
	width:4rem;
	height:3px;
	background: #929aa0;
	position: absolute;
	left:0.8rem;
	top:0.18rem;
}
.ylt span:nth-child(1){
	position: absolute;
	left:0;
	top:-0.08rem;
	font-size:18px;
}
.ylt span:nth-child(3){
	position: absolute;
	right:0.3rem;
	top:-0.14rem;
	font-size:18px;
}
.yuan{
	width:10px;
	height:10px;
	background:#fff;
	border-radius:50%;
	position: absolute;
	left:-5px;
	top:-3.5px;
}
/*列表*/
.lb-box li{
	width:87.22%;
	height:1.84rem;
	margin:0 auto;
	border-bottom:1px solid #929aa0;
	color:#929aa0;
	line-height: 1.84rem;
}
.lb-box li h3{
	padding-top:5px;
}
.lb-box li p{
	margin-top:8px;
}
#music-list li span:nth-child(2) {
  float: right;
}
/*歌词*/
.gc-box{
	width:87.22%;
	height:10.6rem;
	margin:0 auto;
	line-height: 2em;
	/*background: green;*/
	color:#929aa0;
	text-align: center;
	overflow: hidden;
}
/*播放键*/
.footer{
	width:100%;
	height:5.15rem;
	z-index: 999;
	position: fixed;
	bottom:0;
	left:0;
}
.bofang{
	width:87.22%;
	height:100%;
	margin:0 auto;
	border-top:1px solid #929aa0;
}
.sx{
	width:100%;
	height:4.7rem;
	line-height: 4.7rem;
}
.sx span:nth-child(1){
	font-size:48px;
	float:left;
	margin-left:1.2rem;
}
.sx span:nth-child(2){
	font-size:88px;
	margin-left:0.8rem;
	
}
.sx span:nth-child(3){
	font-size:48px;
	float:right;
	margin-right:1.2rem;
}
.jd{
	width:90%;
	height:3px;
	background: #929aa0;
	position: absolute;
	left:5%;
	bottom:0.43rem;
}
.jyuan{
	width:10px;
	height:10px;
	background: #FFF;
	border-radius:50%;
	position: absolute;
	left:-5px;
	top:-3.5px
	
}
.sc{
	color:#929aa0;
	position: absolute;
	left:5%;
	bottom:0.48rem;
	font-size:10px;
}
.zsc{
	color:#929aa0;
	position: absolute;
	right:5%;
	bottom:0.48rem;
	font-size:10px;
}


/*图片*/
.tp-box{
	width:87.22%;
	height:auto;
	margin:0 auto;
}
.tp-box img{
	width:100%;
}
.lb-box{
	display: none;
}
.gc-box{
	display: none;
}
.tp-box{
	display: none;
}
.xia{
	display: bloack;
	font-size:20px;
	color:#929aa0;
	line-height: 2rem;
	float:left;
	width:11.11%;
	height:100%;
	text-align: center;
}
/*.lunbo1{
	width:100%;
	height:100%;
	position: absolute;
	top:0rem;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	display:none;
}
.lunbo2{
	width:100%;
	height:auto;
	/*position: absolute;
	top:0rem;
	left:50%;
	right:0;
	bottom:0;
	margin:auto;*/
	/*display:none;*/
	/*position: absolute;
	top:0;
	left:0;
	animation: transform 1s ease 0s;
}
@keyframes lunbo2{
	0%{
		transform:translateY(1rem);
	}
	100%{
		transform:translateY(0rem);
		
	}	
}
.lunbo3{
	width:100%;
	height:100%;
	position: absolute;
	top:0rem;
	left:100%;
	right:0;
	bottom:0;
	margin:auto;
	display:none;
}*/